@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Tem certeza que deseja excluir a sua reserva Nº {var num here}?</h2>

<div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" asp-controller="Reserva" asp-action="Delete">Confirmar</button>
        <a role="button" class="btn btn-success" asp-controller="Consulta" asp-action="Index">Voltar</a>
    </div>
</div>

<!-- Insert delete crud here-->