@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Tem certeza que deseja excluir a sua reserva Nº {var num here}?</h2>

<!-- Insert delete crud here-->